streamlit==0.85.0 
pandas==1.2.4 
matplotlib==3.3.4 
spacy==2.7.3
seaborn==0.11.1 
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl

